<section id="hero" class="min-h-dvh w-full border-2 border-green-400 perspective-distant">
  <div id="sky-container" class="absolute top-0 left-0 h-[190dvh] w-full will-change-auto">
    <img src="https://images.pexels.com/photos/7074796/pexels-photo-7074796.jpeg" alt="sky" class="h-full w-full object-cover" />
  </div>

  <div id="hero-content" class="absolute top-0 left-0 z-20 flex h-dvh w-full items-center justify-center text-center text-7xl font-bold text-white will-change-auto">
    <div>
      <p data-text-reveal data-text-reveal-color="#fff">
        Lorem ipsum dolor sit amet <br />
        consectetur adipisicing elit. <br />
        At obcaecati necessitatibus <br />
        nostrum totam molestiae <br />
        placeat eligendi eius dolorum quam doloribus.
      </p>
    </div>
  </div>

  <div id="clouds-container" class="absolute top-1/2 left-0">
    <div id="clouds-track" class="flex w-full will-change-auto">
      <img src="/images/clouds.webp" alt="" class="w-full shrink-0" />
      <img src="/images/clouds.webp" alt="" class="w-full shrink-0" />
    </div>
  </div>

  <div id="window" class="absolute top-0 left-0 z-30 h-dvh w-full will-change-auto">
    <img src="/images/window.webp" alt="window" class="absolute z-20 size-[110%] object-cover" />
    <img src="/images/window-back.webp" alt="window" class="absolute z-30 size-[110%] object-cover" />
  </div>

  <div id="hero-header" class="absolute top-0 left-1/2 z-40 mx-auto flex w-full max-w-7xl -translate-x-1/2 justify-between p-4 will-change-auto">
    <div class="basis-1/3">
      <h2 class="text-7xl font-bold text-white">Lorem ipsum dolor sit amet.</h2>
    </div>
    <div class="basis-1/3">
      <h2 class="text-accent text-xl">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
    </div>
  </div>
</section>

<section id="outro" class="relative flex min-h-dvh w-full items-center justify-center overflow-hidden border-2 border-red-400">
  <h1
    data-text-reveal
    data-text-reveal-color="#f59e0b"
    data-text-reveal-stagger="0.15"
    data-text-reveal-duration="0.75"
    data-text-reveal-delay="0"
    class="border border-amber-700 text-5xl font-bold uppercase"
  >
    Lorem ipsum dolor, sit amet <br />
    consectetur adipisicing elit. <br />
    Distinctio, maiores sequi? Totam magni <br />
    quam facilis provident commodi <br />
    sed perspiciatis necessitatibus?
  </h1>
</section>
